:root {
  --square-side: calc(100% / 16);
  --less: min(60vh, 90vw);
  --main-color: rgb(169, 107, 15);
  --secondary-color: rgb(243, 243, 179);
  --secondary-color-hover: rgb(136, 85, 10);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

h1 {
  margin: 20px;
  text-align: center;
}

.instruction {
  width: 75%;
  max-width: 600px;
  border: 2px solid var(--secondary-color);
  border-radius: 20px;
  margin: 20px auto;
  padding: 10px 5%;
}

p, ul, li {
  margin: 10px auto;
}

ul {
  margin-left: 40px;
}

.button {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid var(--secondary-color);
  background-color: var(--main-color);
  color: var(--secondary-color);
  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary-color-hover);
}

.container {
  margin: 20px auto;
  width: var(--less);
  height: var(--less);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.square {
  background-color: var(--secondary-color);
  width: var(--square-side);
  height: var(--square-side);
}