:root {
  --square-side: calc(100% / 16);
  --less: min(80vh, 90vw);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(169, 107, 15);
}

h1 {
  margin: 20px;
  text-align: center;
}

.button {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 18px;
}

.container {
  margin: 20px auto;
  width: var(--less);
  height: var(--less);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.square {
  background-color: rgb(243, 243, 179);
  border: 1px solid black;
  width: var(--square-side);
  height: var(--square-side);
}