:root {
  --square-side: calc(100% / 16) ;
  --less: min(80vh, 90vw);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 20px auto;
  width: var(--less);
  height: var(--less);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
}

.square {
  background-color: yellow;
  border: 1px solid black;
  width: var(--square-side);
  height: var(--square-side);
}